* {
    font-family: Georgia;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #83c5be;
    color: #edf6f9;
    font-size: 15px;
    top: 0;
    left: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 0px 50px;
    padding: 5px;
    text-align: center;
    border: 1px #edf6f9 solid;
    text-transform: uppercase;
}

nav ul li:hover {
    background-color: #006d77;
    border: 1px #006d77 solid;
}

a:visited {
    color: #edf6f9
}

header {
    position: relative;
    top: 40px;
}

h1 {
    text-align: center;
    background-color: #006d77;
    color: #edf6f9;
    padding: 20px;
}

section {
    position: relative;
    top: 60px;
}

h2.section-head {
    text-transform: uppercase;
    text-align: center;
    background-color: #967aa1;
    color: white;
    display: inline-block;
    padding: 20px;
    margin: 0 650px;
}

div {
    width: 518px;
    margin: 20px auto;
}

p.colour {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px 0;
    text-align: center;
}

#cs1 #c1 {
    background-color: #006d77;
    color: white;
}

#cs1 #c2 {
    background-color: #83c5be;
    color: black;
}

#cs1 #c3 {
    background-color: #edf6f9;
    color: black;
}

#cs1 #c4 {
    background-color: #ffddd2;
    color: black;
}

#cs1 #c5 {
    background-color: #e29578;
    color: white;
}

#cs2 #c1 {
    background-color: #f4f1de;
    color: black;
}

#cs2 #c2 {
    background-color: #e07a5f;
    color: white;
}

#cs2 #c3 {
    background-color: #3d405b;
    color: white;
}

#cs2 #c4 {
    background-color: #81b29a;
    color: white;
}

#cs2 #c5 {
    background-color: #f2cc8f;
    color: black;
}

#cs3 #c1 {
    background-color: #f5e6e8;
    color: black;
}

#cs3 #c2 {
    background-color: #d5c6e0;
    color: black;
}

#cs3 #c3 {
    background-color: #aaa1c8;
    color: black;
}

#cs3 #c4 {
    background-color: #967aa1;
    color: white;
}

#cs3 #c5 {
    background-color: #192a51;
    color: white;
}

#f1 {
    font-family: 'Playfair Display';
    font-size: 30px;
}

#f2 {
    font-family: 'Raleway';
    font-size: 30px;
}

#f3 {
    font-family: 'Bebas Neue';
    font-size: 30px;
}

hr {
    position: relative;
    top: 60px;
    border: 5px dotted black;
}

footer {
    background-color: #83c5be;
    color: #edf6f9;
    font-size: 15px;
    position: relative;
    top: 60px;
    padding: 20px;
}

h1.example {
    font-weight: 700;
    font-size: 40px;
    font-family: 'Playfair Display';
    background-color: white;
    color: black;
    text-align: left;
    padding:0;
    margin:0;
}

ul.example li {
    font-size: 20px;
    font-family: 'Georgia';
}

h2.example {
    font-size: 40px;
    font-family: 'Bebas Neue';
    background-color: white;
    color: black;
}

p.example {
    font-size: 20px;
    font-family: 'Raleway';
}